<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>教学设计</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        #container{
            background-color: #fef0b2;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            padding-left: 15px;
            padding-top: 15px;
            padding-right: 15px;
            padding-bottom: 20px;
            text-align: center;
        }

        p{
            text-indent: 2em;
        }

        #thead{
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="container">
        <div>
            <a href="../index.html">回首页</a>
            <hr>
            <h3>Unit 7 Activities 教学设计</h3>
            <p>向南小学 庄瑞簪</p>
        </div>
        <div align="left">
            <b>一、教材分析</b><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本课是2B教材Module3 Things around us中围绕the four seasons 这一主题展开的多种学习活动。主要要求学生在1B的基础上掌握另外两个季节autumn, winter, cool, cold四个单词和句型It is …. I (do) …in….根据一年级已有经验，学生能描述春、夏两个季节以及四种天气情况,同时经过M2的教学，学生基本掌握了 I like doing…这一句型。因此在本单元整合旧知进行教学，通过迁移比较，复习巩固旧知，并能有效记忆新句型，同时培养学生阅读短故事的能力。

            <br/><br/><b>二、教学目标分析</b><br/>
            <b>知识与能力：</b><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;四会单词：autumn, winter, cool, cold<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;听说读并抄写句型：It is…. I (do)…in….<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;能正确听读并表达句型：I like doing…in…<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;正确吟诵儿歌‘The four seasons’,注意语音语调<br/>
            <b>过程与方法</b><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;能自编简单的儿歌来学习运用新单词<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;通过同桌对话、小组表演，提问等形式培养学生英语连续说话的表达交流能力<br/>
            <b>情感态度与价值观</b><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1）在语境中体验与表达，进一步激发学生英语学生兴趣，建立自信，养成良好的听说读写的习惯<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2）在优美语言中让学生感受大自然，喜欢大自然。

            <br/><br/><b>三、教学策略分析</b><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1）激活旧词句、学习新词句，组织新旧知识交融操练，采用词、句、段整合拓展的模式，努力体现语言交际的互动功效。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2）将单词、句子组织成节奏明快的rhyme,并要求学生通过模仿创编简单的儿歌进行吟诵，操练所学单词与句型，激活他们已有的语言能力。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（3）创设学生熟悉的语言情景，让学生从身边挖掘可用的语言，培养学生连续说话的能力。
            <br/><b>一、Pre-task preparations:</b><br/>
            1：Let’s sing a song “what’s your favourite season?” .引入主题。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;T: 引出主题seasons , 营造课堂氛围。<br/>
            2：Ask and answer. 主题引入, 以问答形式烘托主题。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q1：How many seasons are there in a year?<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q2:  What season is it?  引出本课重点句型“It is…”<br/>
            3：Revision.<br/>
            Look and say. “How is the weather in spring / summer/ autumn / winter?”<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在It is spring.的基础上，引导学生用形容词来形容这个季节，并给出句子：It is warm. 引导学生用更多的词去形容春天。<br/>
            Make a rhyme.<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;四人小组，每人选择一个季节，根据spring 的例子，看图，进行新儿歌的创作。最后进行汇报。以此达到巩固句型及单词的效果。<br/>
            <img src="../resource/img/design1.png">

            <br/><b>二、While-task procedures:</b><br/>
            1：New words learning.以旧带新，学习新词汇。以问题引出新本课重难点词汇：<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q: What do you do in spring/ summer / …?<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ss：It is spring. I ride a bicycle in spring. 学习短语“ride a bicycle”<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New words： ride a bicycle    fly a kite   make a snowman （学习snowman- snowmen ）<br/>
            2：let’s talk. Look and read. 看图，朗读课文。<br/>
            3: let’s read. ；look and say。看图，尝试背诵课文。
            <br/><b>三、self-learning.</b><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;自主听读，学生利用平板，自主学习课外资源“let’s read！”《拓展阅读》unit7A和unit7B两篇课文。选读“一起作业网”两篇文章“spring”和“I like fall”。
            通过自主学习，让学生了解更多有关季节的信息，比如，不同的季节的特点、相关的活动，以及如何描述和表达自己喜欢的季节等。这四篇文章都有很好的描述。
            <br/><b>四、let’s talk！</b><br/>
            Q: what else can you do in spring/ summer/ autumn / winter?<br/>
            Ss: make a sand castle, skate, hop, play (football / …), eat ( ice cream/ water melon / ….), ….<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;进行Brainstorming，想想各种季节能做的事，给出例子，鼓励学生多说。让学生看图，想想在什么季节能做什么不同的事，并以I can ...in ...进行说话,鼓励学生多说。

            <br/><br/><b>四、Post-task activities: Let’s enjoy “Olaf’s favourite season”</b><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们最近刚刚观看完电影“frozen”《冰雪奇缘》，让学生观看一段“Olaf雪宝”对夏天的向往和憧憬的片段，激起学生对季节更大的兴趣。同时，学习如何描述和表达自己喜欢的季节。
            <br/>For example：<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hello, I am Olaf.<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I like summer.<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It is sunny and hot.<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I can swim.<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I like the sun. I like the juice.<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;….<br/>
            1.Let’s talk.  Login in UMU. Find your mind map. Talk about it in groups.
            For example:<br/>
            <img src="../resource/img/design2.png">
            <br/>Tips:<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q1: which season do you like best? --- I like ….<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q2: how do you think of it? --- it is …<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q3: what can you do in it? --- I can … in ….<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;引导学生根据给出的问题进行思考，构思如何说My favorite season。这里为语量叠加的环节，引导学生通过前面说过的内容进行汇总，并进行知识的梳理。<br/>

            2.给出例子，让学生注意句型的运用。最后从自我准备到小组共享再到班内汇报。<br/>
            <img src="../resource/img/design3.png">
            3.
            <br/><br/><b>五、moral education：“wonderful seasons，colourful life！”</b><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;通过学习季节的知识，天气，活动，让学生了解季节的特点，感受季节的美妙，感受生活的多姿多彩，从而更加热爱生活。

        </div>
        <hr>
        <a href="../index.html">回首页</a>
    </div>
</body>
</html>