<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>教学反思</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        #container{
            background-color: #fef0b2;
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            padding-left: 30px;
            padding-top: 15px;
            padding-right: 30px;
            padding-bottom: 20px;
            text-align: center;
        }

        p{
            text-indent: 2em;
            line-height: 50px;
        }
    </style>
</head>
<body>
    <div id="container">
        <div>
            <a href="../index.html">回首页</a>
            <hr>
            <h3>Unit 7 Activities 教学反思</h3>
            <p>向南小学 庄瑞簪</p>
        </div>
        <div align="left">
            <!-- <h3>教学反思：</h3> -->
            <p>
                &nbsp;&nbsp;本节课讲授的是牛津英语第四册第7单元（二年级下册）第1课时。主要内容是让学生能够描述季节以及相关的活动。教学的对象是二年级学生，学生积极活跃，对本单元的内容很感兴趣。因此在教学中我运用多种对话形式以及操练方式，使学生寓学于乐。通过俩俩交流、小组合作，以及拓展听读，实现对语言的巩固运用，实现对听说读写的高度统一。本节课以小学英语跨越式发展教改试验研究理论为指导，以学为主的教学思想为指导，充分运用网络资源的优势，通过信息技术与学科教学的深层次整合，构建网络环境下新型学习过程模式。教学过程中学生通过多媒体提供的资源主动积极获取知识，特别是通过对话练习、创编chant和网上阅读，培养了学生自主学习、合作学习和交际的能力。本人认为这节课的教学效果主要表现在：
                <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一、课堂气氛活跃，较好的完成的教学目标。尝试把文本的学习与拓展的内容分层学习，收到了较好的效果。其中课堂活动的设计起到了重要作用。通过设计多种学习形式，提高学生学习的兴趣。积极活跃是低龄儿童的天性，为学生创设一种学生感兴趣又有效课堂活动，自主的学习，主动的学习。如对本课单词以及拓展单词的操练上，我选择了一首节奏旋律活泼的chant，学生随着chant的节奏说单词说句子，通过小组学习，练习自己创编chant的活动。充分发挥了小组合作学习的作用，也让学生都能积极参与到课堂的活动中来。节奏强和渐渐变快的chant使学生热情高涨，全身心的投入到课堂中来。也为进一步学习和语言交流做好铺垫。
                <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;二、在本课时中，主要是围绕四季展开教学，通过复习旧知，引入新知，层层递进的学习。学生不仅复习巩固了四个季节的名称和天气，同时还学会了对这四个季节进行相应的特征描述，在不同的季节，进行不同的活动，掌握得较好。
                <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;三、不足之处，本节课中，两两练习对话的机会较少，需要适当增加，这样可以增加学生说的时间和机会。此外，学生常规需要加强，在运用平板上，学生还需再熟练掌握运用，做到“收放自如”，这样能更充分有效的利用课堂时间。
            </p>
        <hr>
        <a href="../index.html" >回首页</a>
    </div>
</body>
</html>