<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>教学录像</title>
    <style>
        body{
            background-color: #fef0b2;
        }
    </style>
</head>
<body >
    <div style="text-align: center; ">
        <div>
            <a href="../index.html">回首页</a>
            <hr>
            <h3>Unit 7 Activities 教学录像</h3>
            <p>向南小学 庄瑞簪</p>
        </div>
        <video src="../resource/video/u7教学录像.swf" width="800" controls="controls">教学录像</video>
        <video src="../resource/video/视频2.mp4" width="800" controls="controls">教学录像</video>
        <div>
            <hr>
            <a href="../index.html">回首页</a>
        </div>
    </div>
</body>
</html>