<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>学生作品</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        #container{
            background-color: #fef0b2;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            padding-left: 15px;
            padding-top: 15px;
            padding-right: 15px;
            padding-bottom: 20px;
            text-align: center;
        }

        p{
            text-indent: 2em;
        }

        #thead{
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="container">
        <div>
            <a href="../index.html">回首页</a>
            <hr>
            <h3>Unit 7 Activities 作品展示</h3>
        </div>
        <div>
            <video id="work-1" src="../resource/video/付金敏.mp4" alt="崔鹤" title="崔鹤" width="80" height="50"></video>
            <video id="work-2" src="../resource/video/高懿轩.mp4" alt="张天宇i" title="张天宇i" width="80" height="50"></video>
            <video id="work-3" src="../resource/video/黄国成.mp4" alt="梁筱迎h" title="梁筱迎h" width="80" height="50"></video>
            <video id="work-4" src="../resource/video/黄海峰.mp4" alt="王馨瑶" title="王馨瑶" width="80" height="50"></video>
            <video id="work-5" src="../resource/video/李奇梦.mp4" alt="覃琴" title="覃琴" width="80" height="50"></video>
            <video id="work-6" src="../resource/video/廖曼琳.mp4" alt="邱" title="邱" width="80" height="50"></video>
            <video id="work-7" src="../resource/video/马果.mp4" alt="邱天" title="邱天" width="80" height="50"></video>
            <video id="work-8" src="../resource/video/马瑞荣.mp4" alt="张天宇i" title="张天宇i" width="80" height="50"></video>
            <video id="work-9" src="../resource/video/茹敏芝.mp4" alt="梁筱迎h" title="梁筱迎h" width="80" height="50"></video>
            <video id="work-10" src="../resource/video/唐子涵.mp4" alt="王馨瑶" title="王馨瑶" width="80" height="50"></video>
            <video id="work-11" src="../resource/video/杨馨雅.mp4" alt="覃琴" title="覃琴" width="80" height="50"></video>
            <video id="work-12" src="../resource/video/增柏林.mp4" alt="邱" title="邱" width="80" height="50"></video>
            <video id="work-13" src="../resource/video/朱佳俊.mp4" alt="邱天" title="邱天" width="80" height="50"></video>
            <hr>
            <video src="../resource/video/付金敏.mp4" alt="付金敏" height="580"  id="image-viewer"></video>
        </div>
        <hr>
        <a href="../index.html">回首页</a>
    </div>
    <script type="text/javascript">
        document.getElementById("work-1").onclick = function() {
            document.getElementById("image-viewer").setAttribute("src", "../resource/video/付金敏.mp4");
        };
        document.getElementById("work-2").onclick = function() {
            document.getElementById("image-viewer").setAttribute("src", "../resource/video/高懿轩.mp4");
        };
        document.getElementById("work-3").onclick = function() {
            document.getElementById("image-viewer").setAttribute("src", "../resource/video/黄国成.mp4");
        };
        document.getElementById("work-4").onclick = function() {
            document.getElementById("image-viewer").setAttribute("src", "../resource/video/黄海峰.mp4");
        };
        document.getElementById("work-5").onclick = function() {
            document.getElementById("image-viewer").setAttribute("src", "../resource/video/李奇梦.mp4");
        };
        document.getElementById("work-6").onclick = function() {
            document.getElementById("image-viewer").setAttribute("src", "../resource/video/廖曼琳.mp4");
        };
        document.getElementById("work-7").onclick = function() {
            document.getElementById("image-viewer").setAttribute("src", "../resource/video/马果.mp4");
        };
        document.getElementById("work-8").onclick = function() {
            document.getElementById("image-viewer").setAttribute("src", "../resource/video/马瑞荣.mp4");
        };
        document.getElementById("work-9").onclick = function() {
            document.getElementById("image-viewer").setAttribute("src", "../resource/video/茹敏芝.mp4");
        };
        document.getElementById("work-10").onclick = function() {
            document.getElementById("image-viewer").setAttribute("src", "../resource/video/唐子涵.mp4");
        };
        document.getElementById("work-11").onclick = function() {
            document.getElementById("image-viewer").setAttribute("src", "../resource/video/杨馨雅.mp4");
        };
        document.getElementById("work-12").onclick = function() {
            document.getElementById("image-viewer").setAttribute("src", "../resource/video/增柏林.mp4");
        };
        document.getElementById("work-13").onclick = function() {
            document.getElementById("image-viewer").setAttribute("src", "../resource/video/朱佳俊.mp4");
        };
    </script>
</body>
</html>