<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>下载Android</title>
    <style type="text/css">

        #weixin-tip p{
            text-align:center;
            margin-top:10%;
            padding:0 5%;
            position:relative;
        }

    </style>
</head>
<body>
<div id="weixin-tip">
    <p>
        <a href="ufa_realse_v2.2.1.apk" download="android">
            <button style="border: 150px;font-size: 80px;background-color: #5FB878">
            <b>点击下载android</b></button>
        </a>
    </p>
</div>
</body>
</html>